{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        {% for offer in offers %}
            <div>
                {{ offer.title }}
                {{ offer.description }}
                {{ offer.price }}
                {{ offer.zipcode }}
                <img src="uploads/images/{{ offer.image }}" alt="image">
                {% if app.user and app.user.id == offer.authorId.id %}
                    <a href="{{ path('editOffer', {offerId: offer.id}) }}">Edit</a>
                    <a href="{{ path('deleteOffer', {offerId: offer.id}) }}">Supprimer</a>
                {% else %}
                    <a href="{{ path('send-message', {offerId: offer.id}) }}">Send message</a>
                {% endif %}
            </div>
        {% endfor %}
    </main>
{% endblock %}