{% extends 'views/home_page.html.twig' %}


{% block stylesheetsCustom %}
    <link rel="stylesheet" href="{{ asset('asset/css/home.css') }}">
{% endblock %}

{% block body %}

    {% for offer in user.offer %}
        <div style="border: 1px solid #000;">
            {{ offer.title }}
            {{ offer.description }}
            {{ offer.price }}
            {{ offer.zipcode }}
            <img src="uploads/images/{{ offer.image }}" alt="image">
            <a href="{{ path('editOffer', {offerId: offer.id}) }}">Edit</a>
        </div>
    {% endfor %}

{% endblock %}
